.glowing-button {
    --glow-color: rgb(201, 253, 255);
    --glow-spread-color: rgba(123, 251, 255, 0.781);
    --enhanced-glow-color: rgb(215, 166, 239);
    --btn-color: rgb(61, 117, 136);
  
    border: 0.25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 
      0 0 1em 0.25em var(--glow-color),
      0 0 4em 1em var(--glow-spread-color),
      inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
    position: fixed;
    bottom: 180px; /* Adjust this value to place it a bit above the bottom */
    left: 50%;
    transform: translateX(-50%); /* Centers the button horizontally */
    transition: all 0.3s;
    cursor: pointer;
}
  
.glowing-button:hover {
    background-color: var(--enhanced-glow-color);
    box-shadow: 
      0 0 2em 0.5em var(--enhanced-glow-color),
      0 0 6em 2em var(--glow-spread-color),
      inset 0 0 1em 0.5em var(--enhanced-glow-color);
    color: white;
}
